// *{font-family: Gill Sans;
// }
.dropdown-menu,
* {
    font-weight: normal
}

.dark #navbar-main .main-menu-item ul li .nav-link {
  color: #00a8e8;
}
.dark .site-title {
  font-size: 18px;
  font-weight: normal;
  color: #EF8371;
}

// .dark .navbar-brand .navbar-brand:focus .navbar-brand:hover {
//   font-size: 22px;
//   font-weight: normal;
//   color: #EF8371;
// }

// .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
//   font-size: 22px;
//   font-weight: normal;
//   color: #EF8371;
// }

.article-style aside, .alert-note {
  color: #00a8e8;
  background-color: #23252f;
  border-color: #EF8371;
}

// .article-style aside p, div.alert {
//   color: #EF8371;
// }
*::before {
  color: #EF8371;
}


.experience .m-2 .border, .experience .col.border-right {
  border-color: #C77541!important;
}
// .dark .card-body{
//   // color: #C77541;
//   // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
// }
.dark .section-subheading{
  color: #00a8e8;
}
// .navbar-light .navbar-brand:focus .navbar-brand:hover {
//   font-size: 22px;
//   font-weight: normal;
//   color: #EF8371;
// }
// .navbar-light .navbar-brand {
//   font-size: 22px;
//   font-weight: normal;
//   color: #EF8371;
// }
// .navbar-light .navbar-brand:focus .navbar-brand:hover {
//   font-size: 22px;
//   font-weight: normal;
//   color: #EF8371;
// }
.dark a:not(.btn):hover, .dark a:not(.btn):focus{ 
  // font-size: 22px;
  // font-weight: normal;
  color: #00a8e8;
  text-decoration: none;
}
.dark #navbar-main .main-menu-item ul li .nav-link a:not(.btn):focus{
  color: #EF8371;
}

.dark #navbar-main .main-menu-item ul li .nav-link:hover {
  // font-size: 22px;
  // font-weight: normal;
  text-decoration: none;
  color: #EF8371;
}

.dark .mytitle .navbar-brand:focus .navbar-brand:hover {
  // font-size: 22px;
  // font-weight: normal;
  text-decoration: none;
  color: #00a8e8;
}

.dark .navbar-brand {
  font-size: 22px;
  font-weight: normal;
  color: #EF8371;
}

.dark .mytitle .navbar-brand:focus .navbar-brand:hover {
  font-size: 22px;
  font-weight: normal;
  color: #EF8371;
}


.dark .hero-title {
    font-size: 18px;
    font-weight: normal;
    color: #00a8e8;
}
.dark .hero-lead {
    font-size: 1rem;
}

// .article-style {
//   // margin: 0 0 0 -50px;
//   // max-width: 95%;
// }
// .home-section-bg.bg-image {
//   background-position-x: 85%;
//   background-position-y: 35%;
//   background-repeat: no-repeat;
//   background-size: 15%;
//   background-origin: padding-box;
//   // /* background-blend-mode: luminosity; */
// }
// /* Create the parallax scrolling effect */
// .parallax {
//   height: 100%;
//   background-position: 0%;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 5%;
// }
.home-background {
  position: absolute;
  bottom: 0px;
  @media screen and (min-width: 768px) {
    bottom: 70px;
  }
}
.card-body {
  background-color: #23252f;
}
.experience .card {
  border: 1px solid rgba(239, 131, 113, 0.125);
  // border: 1px solid rgba(0, 168, 232, 0.125);
}

#accomplishments .card {
  // border: 1px solid rgba(239, 131, 113, 0.125);
  border: 1px solid rgba(0, 168, 232, 0.125);
}

//   background-image: url("../background.jpg");
// }
// .wg-about .background-img {
//   position: absolute;
//   bottom

// .home-section : 0px;
//   @media screen and (min-width: 768px) {
//     bottom: 70px;
//   }
// }

.wg-about .container {
  @media screen and (min-width: 1200px) {
    margin-bottom: 200px;
  }
}

nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: normal;
  color: #00a8e8;
}

// .portrait-title h2 {
//     font-family: "Lato", sans-serif;
//   font-size: 22px;
//   font-weight: normal;
//   color: #3F3844;
// }

.section-heading h1 {
  font-size: 20px;
  font-weight: normal;
  color: #00a8e8;
}

h1 {
  font-size: 20px;
    color: #00a8e8;
}
// .card-body2">
// {
//   color: #00a8e8!important;
// }
// .dark .experience  {
//   color: #00a8e8!important;
// }