*{font-family: Gill Sans;
}
.dropdown-menu,
* {
    font-weight: normal
}

.site-title {
  font-size: 18px;
  font-weight: normal;
  color: #1565c0;
}

.navbar-light .navbar-brand {
  font-size: 22px;
  font-weight: normal;
  color: #1565c0;
}
.hero-title {
    font-size: 18px;
    font-weight: normal;
    color: #1565c0;
}
.hero-lead {
    font-size: 1rem;
}

.article-style {
  // margin: 0 0 0 -50px;
  max-width: 95%;
}
.home-section-bg.bg-image {
  background-position-x: 85%;
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: 15%;
  background-origin: padding-box;
  // /* background-blend-mode: luminosity; */
}
/* Create the parallax scrolling effect */
.parallax {
  height: 100%;
  background-position: 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5%;
}
.home-background {
  position: absolute;
  bottom: 0px;
  @media screen and (min-width: 768px) {
    bottom: 70px;
  }
}
//   background-image: url("../background.jpg");
// }
// .wg-about .background-img {
//   position: absolute;
//   bottom

// .home-section : 0px;
//   @media screen and (min-width: 768px) {
//     bottom: 70px;
//   }
// }

.wg-about .container {
  @media screen and (min-width: 1200px) {
    margin-bottom: 200px;
  }
}

nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: normal;
  color: #1565c0;
}

// .portrait-title h2 {
//     font-family: "Lato", sans-serif;
//   font-size: 22px;
//   font-weight: normal;
//   color: #3F3844;
// }

.section-heading h1 {
  font-size: 20px;
  font-weight: normal;
  color: #1565c0;
}

h1 {
  font-size: 20px;
    color: #1565c0;
}